@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

@if ( !Player.IsValid() ) return;

<root class="hud with-deadzone @(Player.InBuyMenu ? "active" : "")">
    <div class="title">Buy</div>
    <div class="options">
        @foreach (WeaponData weaponData in WeaponData.All)
        {
            <div class="button @(@Inventory.HasWeapon( weaponData ) ? "owned" : "unowned") @(@CanAfford( weaponData ) ? "" : "unaffordable" )" onclick=@(() => BuyWeapon( weaponData ))>
                @if ( !string.IsNullOrEmpty( weaponData.Icon ) )
                {
                    <div class="gunicon" style="background-image:url(@weaponData.Icon);" />
                }
                <label>@weaponData.Name</label>
                <br />
                <label class="price">$@weaponData.Price</label>
            </div>
        </div>
        }
    </div>
</root>

@code
{
    public PlayerInventory Inventory => Player.Inventory;
    public PlayerController Player => GameUtils.LocalPlayer;

    private void BuyWeapon( WeaponData weaponData )
    {
        if (!CanAfford(weaponData) || !Inventory.CanTakeWeapon(weaponData))
            return;

        Inventory.BuyWeapon( weaponData.ResourceId );
    }

    private bool CanAfford( WeaponData weaponData )
    {
        return Inventory.Balance >= weaponData.Price;
    }

    protected override int BuildHash()
    {
        return !Player.IsValid() ? 0 : HashCode.Combine( Inventory.Weapons.Count(), Player.InBuyMenu );
    }
}
