@namespace Facepunch
@attribute [StyleSheet]

<root class="with-rounding @(FullMode ? "big" : "radar")" style="border: 1px solid @(TeamColor.WithAlpha( 0.5f ).Hex)">
    @if (Renderer.IsValid())
    {
        <div class="mask" style="@MapRot()">
            <div class="map-parent">
                <div style="@MapTransform()">
                    <div class="minimap" style="background-image: url( @Renderer.CurrentMinimapPath )" />
                    <div class="overlay" style="background-image: url( @Renderer.CurrentMinimapPath )" />

                    @foreach (var volume in Game.ActiveScene.GetAllComponents<IMinimapVolume>())
                    {
                        if (!volume.IsValid() || (GameUtils.Viewer is not null && !volume.IsVisible(GameUtils.Viewer)))
                            continue;
                            
                        <div class="volume" style="@GetBox(volume) @GetBoxStyles(volume)" >
                            <div class="bg" style="@GetLineStyles(volume)" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="markers">
            @foreach (var element in Game.ActiveScene.GetAllComponents<IMinimapElement>())
            {
                if ( !element.IsValid() || (GameUtils.Viewer is not null && !element.IsVisible(GameUtils.Viewer)) )
                    continue;

                if (element is IMinimapIcon icon && icon.IconType != MinimapIconType.None)
                {
                    string style = WorldToMap(icon.WorldPosition);

                    if (icon is IDirectionalMinimapIcon dir && dir.EnableDirectional)
                        style += RotationToMap(dir.Direction);

                    if (icon is ICustomMinimapIcon custom)
                        style += custom.CustomStyle;

                    <div class="marker @icon.IconType.GetClass()" style="@style" />
                }
                if (element is IMinimapLabel label)
                {
                    <div class="label" style="@WorldToMap(label.WorldPosition) @LabelStyles( label )">
                        @label.Label
                    </div>
                }
            }

            <!-- POV Marker -->
            @if ( GameUtils.Viewer is null || GameUtils.Viewer.HealthComponent.State == LifeState.Alive )
            {
                <div class="marker @(SpectateSystem.Instance?.IsFreecam ?? false ? "" : "viewer")" style="@WorldToMap(ViewPos) @RotationToMap(ViewYaw) background-tint: @ViewerColor.Hex" />
            }

        </div>
    }
</root>

@code
{
    public MinimapRenderer Renderer => Game.ActiveScene.GetAllComponents<MinimapRenderer>().FirstOrDefault();

    public Color TeamColor => GameUtils.Viewer?.GameObject?.GetTeam().GetColor() ?? Color.White;
    public Color ViewerColor => GameUtils.Viewer?.PlayerColor ?? Color.White;

    public Vector3 ViewPos => GameUtils.Viewer?.Transform.Position ?? SpectateSystem.Instance.FreecamController.Transform.Position;
    public float ViewYaw => GameUtils.Viewer?.EyeAngles.yaw ?? SpectateSystem.Instance.FreecamController.Transform.Rotation.Angles().yaw;

    public float Zoom => 2;

    // shows full map, embiggened
    public bool FullMode => Input.Down("score");
    // doesn't rotate the map with the player
    public bool FixedMode => FullMode;

    // generic
    string WorldToMap( Vector3 worldPosition )
    {
        var position = FullMode ? Renderer.FromWorld(worldPosition) : Renderer.FromWorldRadar(worldPosition, ViewPos, FixedMode ? 0 : ViewYaw, Zoom);
        return $"left: {Length.Fraction(position.x)}; top: {Length.Fraction(position.y)};";
    }

    string LabelStyles( IMinimapLabel label )
    {
        return $"color: {label.LabelColor.Rgba};";
    }

    string GetBox( IMinimapVolume volume )
    {
        var min = Renderer.FromWorld(volume.WorldPosition + (volume.Size / 2));
        var max = Renderer.FromWorld(volume.WorldPosition - (volume.Size / 2));
        var remappedSize = max - min;
        return $"left: {Length.Fraction(min.x)}; top: {Length.Fraction(min.y)}; width:{Length.Fraction(remappedSize.x)}; height:{Length.Fraction(remappedSize.y)};";
    }

    string GetBoxStyles(IMinimapVolume volume)
    {
        return $"background-color: darken( {volume.Color.Rgba}, 0.05 ); border: 1px solid {volume.Color.Rgba};";
    }

    string GetLineStyles(IMinimapVolume volume)
    {
        return $"background-color: {volume.LineColor.Rgba};";
    }

    string RotationToMap( Angles rot )
    {
        return RotationToMap(rot.yaw);
    }

    string RotationToMap( float yaw )
    {
        return $"transform: translateX(-50%) translateY(-50%) rotate({-(yaw - (FixedMode ? 0 : ViewYaw))}deg);";
    }

    string MapTransform()
    {
        if (FullMode) return "left: 0; top: 0; width: 100%; height: 100%;";
        var position = -Renderer.FromWorld(ViewPos) * Zoom;
        return $"position: absolute; left: {Length.Fraction(position.x)}; top: {Length.Fraction(position.y)}; width: {Zoom * 100}%; height: {Zoom * 100}%";
    }

    string MapRot()
    {
        if (FixedMode) return "transform: none;";
        return $"transform-origin: center center; transform: rotate({(FixedMode ? 0 : ViewYaw)}deg); ";
    }

    protected override int BuildHash()
    {
        return System.HashCode.Combine( Time.Now );
    }
}