@inherits BaseMarkerPanel
@namespace Facepunch.UI

@if ( !Player.IsValid() ) return;

<style>
    PlayerMarkerPanel
    {
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        text-shadow: 1px 1px 1px rgba( black, 1 );
       
        .dot
        {
            width: 8px;
            height: 8px;
            border-radius: 100px;
            background-color: @Player.TeamComponent.Team.GetColor().Hex;
            box-shadow: 2px 2px 2px rgba( black, 0.5 );
        }

        .name
        {
            text-shadow: 1px 1px 1px rgba( black, 1 );
            color: @Player.TeamComponent.Team.GetColor().Hex;
        }

        .chevron 
        {
            font-size: 30px;
            font-weight: 900;
            color: @Player.TeamComponent.Team.GetColor().Hex;
        }

        Icon {
            background-image-tint: @Player.TeamComponent.Team.GetColor().Hex;
        }
    }
</style>

<root>
    @if ( !LocalPlayer.IsValid() )
        return;

    @if ( Player == LocalPlayer )
        return;

    @if ( !Marker.IsValid() ) return;

    @if ( Marker.IsBehind ) 
        return;

    @if ( Player?.HealthComponent?.State != LifeState.Alive )
        return;

    @if ( !LocalPlayer.IsSpectating )
    {
        @*TODO: make the player markers show up for enemies under certain circumstances
        when aiming at a player that's kinda close to you? *@
        @if ( Viewer.IsValid() && !Viewer.GameObject.IsFriendly(Player.GameObject) )
            return;
    }

    @if ( Marker.IsOffScreen )
    {
        <label class="chevron" style="transform: rotateZ(@(ChevronAngle)deg);">></label>
    }
    else
    {
        <div class="dot" />
        <label class="name">@MarkerFrame.DisplayText</label>

        @if( Player.Inventory.HasBomb && Player.IsFriendly( GameUtils.LocalPlayer ) )
        {
            <Icon File="/ui/bomb.png" size="24"></Icon>
        }
    }
</root>

@code
{
    public PlayerController Player => Object?.GameObject?.Components?.Get<PlayerController>();
    private PlayerController Viewer => GameUtils.Viewer;
    private PlayerController LocalPlayer => GameUtils.LocalPlayer;

    private float ChevronAngle => Scene.Camera.PointToScreenNormal(MarkerFrame.Position).Angle(new(0.5f, 0.5f)) - 180f; 

    protected override void OnAfterTreeRender( bool firstTime )
    {
        Marker.ClampToScreen = true;
    }

    protected override int BuildHash()
    {
        return System.HashCode.Combine( Time.Now );
    }
}
