@using Sandbox;
@using Sandbox.UI;
@using Facepunch.UI;
@using Facepunch;

@inherits PanelComponent
@implements Component.INetworkListener
@implements ITeamAssignedListener

@attribute [StyleSheet]

<root class="absolute inset-0">
    <canvas>
        <div class="chat-container hud flex column with-deadzone bottom-left with-px">
            <div class="hud flex column justify-start gap-sm">
                @foreach (var entry in Entries)
                {
                    <div class="hud with-padding flex row gap">

                        @if (entry.steamid > 0)
                        {
                            <div class="square rounded" style="background-image: url( avatar:@entry.steamid )"></div>
                        }

                        <span class="flex column w-full">
                            <span class="flex row gap-sm w-full align-center">
                                <label class="emphasis no-shadow grey">@entry.author</label>

                                @if (entry.chatMode != ChatModes.All)
                                {
                                    <label class="small no-shadow green">(@entry.chatMode)</label>
                                }
                            </span>
                            <label class="message no-shadow">@entry.message</label>
                        </span>
                    </div>
                }
            </div>

            <div>
                <div class="when-open flex align-center gap-sm">
                    <InputHint Action="Score" class="small" Size="@InputGlyphSize.Small" />
                    <label>
                        @ChatMode
                    </label>
                </div>

                <div class="when-not-open flex align-center gap-sm">
                    <label>
                        Chat
                    </label>
                    <InputHint Action="Chat" class="small" Size="@InputGlyphSize.Small" />
                </div>

                <ChatBox class="input" @ref="InputBox" OnTabPressed="@ChangeChatMode" onsubmit="@ChatFinished"></ChatBox>
            </div>
        </div>
    </canvas>
</root>

@code
{
    public enum ChatModes
    {
        Team,
        All,
    }

    private ChatModes ChatMode = ChatModes.All;
    private TextEntry InputBox;

    public record Entry(ulong steamid, string author, string message, RealTimeSince timeSinceAdded, ChatModes chatMode);
    private List<Entry> Entries = new();

    private bool Open => InputBox.HasFocus;

    protected override int BuildHash()
    {
        return HashCode.Combine(ChatMode, Open);
    }

    protected override void OnUpdate()
    {
        if (InputBox is null)
            return;

        Panel.AcceptsFocus = false;

        if (Input.Pressed("chat"))
        {
            InputBox.Focus();
        }

        if (Entries.RemoveAll(x => x.timeSinceAdded > 20.0f) > 0)
        {
            StateHasChanged();
        }

        // Limit to 5 messages
        Entries = Entries.TakeLast(5).ToList();

        SetClass("open", InputBox.HasFocus);
    }

    void ChangeChatMode()
    {
        ChatMode = ChatMode == ChatModes.All ? ChatModes.Team : ChatModes.All;

        Log.Info($"Chat mode changed to {ChatMode}");
    }

    void ChatFinished()
    {
        var text = InputBox.Text;
        InputBox.Text = "";

        if (string.IsNullOrWhiteSpace(text))
            return;

        if (ChatMode == ChatModes.Team)
        {
            var localPlayer = GameUtils.LocalPlayer;
            bool IsFriendly(PlayerController x) => localPlayer.GameObject.IsFriendly(x.GameObject) || localPlayer.GameObject == x.GameObject;

            var players = GameUtils.AllPlayers;
            var friendlyGameObjects = players.Where(IsFriendly);
            var friendlyConnections = friendlyGameObjects.Select(x => x.Network.OwnerConnection);

            using (var _ = Rpc.FilterInclude(friendlyConnections))
            {
                AddText(text, ChatMode);
            }
        }
        else
        {
            AddText(text, ChatMode);
        }
    }

    [Broadcast]
    public void AddText(string message, ChatModes chatMode)
    {
        message = message.Truncate(300);

        if (string.IsNullOrWhiteSpace(message))
            return;

        var author = Rpc.Caller.DisplayName;
        var steamid = Rpc.Caller.SteamId;

        Entries.Add(new Entry(steamid, author, message, 0.0f, chatMode));
        StateHasChanged();
    }

    [Broadcast] // todo: only from host/owner
    public void AddSystemText(string message)
    {
        message = message.Truncate(300);

        if (string.IsNullOrWhiteSpace(message))
            return;

        Entries.Add(new Entry(0, "ℹ️", message, 0.0f, ChatModes.All));
        StateHasChanged();
    }

    void ITeamAssignedListener.OnTeamAssigned(PlayerController player, Team team)
    {
        if (IsProxy) return;

        if (team == Team.Unassigned)
            AddSystemText($"{@player.GetPlayerName()} is spectating");
        else
            AddSystemText($"{@player.GetPlayerName()} is joining the {team.GetName()}");
    }

    void Component.INetworkListener.OnDisconnected(Connection channel)
    {
        if (IsProxy) return;

        AddSystemText($"{channel.DisplayName} has left the game");
    }
}
