@using System.Text;
@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

@if ( !Player.IsValid() ) return;

<root class="@BuildClass() hud flex row gap with-padding">

    <div class="flex column gap-xs">
        <ProgressBar Value="@(Health)" width="128" />
        <span class="flex row align-center gap-sm">
            <Icon file="/ui/health.png" size="16" />
            <label>@Health</label>
        </span>
    </div>

    <div class="flex column gap-xs">
        <ProgressBar Value="@(Armor)" width="64" />
        <span class="flex row align-center gap-sm">
            <Icon file="/ui/armor.png" size="16" />
            <label>@Armor</label>
        </span>
    </div>
</root>

@code
{
    public PlayerController Player => GameUtils.LocalPlayer;
    public int Health => Player.Components.Get<HealthComponent>().Health.CeilToInt();
    public int Armor => Player.Components.Get<HealthComponent>().Armor.CeilToInt();

    protected override int BuildHash()
    {
        return !Player.IsValid() ? 0 : HashCode.Combine( Health );
    }

    private string BuildClass()
    {
        var sb = new StringBuilder();
        
        if ( Health < 30f )
            sb.Append( "low-health" );
        
        return sb.ToString();
    }
}
