@using System.Text;
@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

@if ( !Player.IsValid() || Player.IsSpectating ) return;

<root class="@BuildClass()">

    <div class="inner with-padding flex row gap justify-start">
        <div class="flex column">
            <Donut Value="@(Armor)" size="48" icon="@(HasHelmet ? "/ui/helmet.png" : "/ui/armor.png")" />
        </div>

        <div class="flex column">
            <ProgressBar Value="@(Health)" width="128" />
            <span class="flex row align-center gap-sm">
                <Icon file="/ui/health.png" size="24" />
                <label class="vital">@Health</label>
            </span>
        </div>
    </div>

</root>

@code
{
    public PlayerController Player => GameUtils.Viewer;
    public HealthComponent HealthComponent => Player.Components.Get<HealthComponent>();
    public int Health => Player.Components.Get<HealthComponent>().Health.CeilToInt();
    public int Armor => Player.Components.Get<HealthComponent>().Armor.CeilToInt();
    public bool HasHelmet => Player.Components.Get<HealthComponent>().HasHelmet;

    protected override int BuildHash()
    {
        return !Player.IsValid() ? 0 : HashCode.Combine(Player.IsSpectating, Health, Armor, HasHelmet, Player.HealthComponent.State);
    }

    private string BuildClass()
    {
        var sb = new StringBuilder();
        
        if ( Health < 30f )
            sb.Append( "low-health" );
        
        return sb.ToString();
    }
}
